@model Cooking.Models.DinnerDto

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Dinner</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        
            
           )

                (<table style="width:100%">
                    <tr>
                        <th><img src="~/Food_Photo/Mushroompasta.jpg" alt="Mushroompasta" width="400" height="500"></th>
                        <th><img src="~/Images/breakfast board.jpg" alt="breakfast board" width="400" height="500"></th>
                    </tr>
                    <tr>
                        <td>BC Catfffeinated: French Dark Roasted Coffee</td>
                        <td>Garfields Breakfast: </td>
                    </tr>
                </table>
                

            </div>
        

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
