@model Cooking.Models.LunchDto

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    <h4>LunchDto</h4>
    <hr />
    <dl class="dl-horizontal">

        <th><img src="~/Images/RedPasta.jpg" alt="coffee" width="400" height="500"></th>
        

        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
