@model Cooking.Models.ResturantDto


@{
    ViewBag.Title = "About";
}



<p>Welcome to my resturant @Model.name</p>
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<h4>Coffee</h4>



<img src="~/Images/coffee.jpg" alt="coffee" width="400" height="500">

<p>test</p>

<img src="~/Images/breakfast board.jpg" alt="breakfast board" width="400" height="500">

<p>Broc</p>

<img src="~/Images/broc.jpg" alt="breakfast board" width="400" height="500">
