@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>A&L Cooking </h1>
    <p class="lead">This is a list of our homeade meals!</p>


    <!--<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>-->
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Kitchen Tools</h2>
        <p>
           Keep up to date on the latest tools to make your cooking experience not just easier but more enjoyable.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Pantry Essentials</h2>
        <p>The nessessary pantry items to make sure you never run out of ingredients for your favorite meals.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Quick Snacks</h2>
        <p>Perfect for family parties, or just for yourself to enjoy.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>