
@{
    ViewBag.Title = "breakfast";
}


<h2>Breakfast</h2>
<h3 style="color:sienna;">
    This is a paragraph.</>
</h3>

<table style="width:100%">
    <tr>
        <th><img src="~/Images/coffee.jpg" alt="coffee" width="400" height="500"></th>
        <th><img src="~/Images/breakfast board.jpg" alt="breakfast board" width="400" height="500"></th>
    </tr>
    <tr>
        <td>BC Catfffeinated: French Dark Roasted Coffee</td>
        <td>Garfields Breakfast: </td>
    </tr>


</table>

<br>

<table style="width:100%">
    <tr>
        <th><img src="~/Images/coffee.jpg" alt="coffee" width="400" height="500"></th>
        <th><img src="~/Images/breakfast board.jpg" alt="breakfast board" width="400" height="500"></th>

    </tr>
</table>



<div>
    @Html.ActionLink("Back to Top", "breakfast")
</div>


